body
{
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-brand, .nav-link
{
    color: white;
    cursor: pointer;
}

.card-body
{
    column-gap: 40px;
}

.card
{
    position: absolute;
    top: 50%;
    left: 45.5%;
    transform: translate(-40%, -40%);
    border: none;
    column-gap: 10%;
}

.row:before, .row:after
{
    display: flex !important;
}

.flexbox-gap
{
    gap: 30px;
    display: inline-block;
}

a.btn
{
    position: relative;
    color: #47A0A6;
    white-space: nowrap;
    /* left: 7.5%; */
}

button.btn, button.btn-primary
{
    position: relative;
    left: 20%;
    height: 40px;
    background-color: #47A0A6;
    border-color: #47A0A6;
    align-items: center;
    justify-content: center;
}

input.form-check-input
{
    position: relative;
    border: 4px solid #47A0A6;
    border-radius: 20px;
    width: 25px;
    height: 16px;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    right: 15%;
}

.form-check-input:checked
{
    background-color: white;
}

label.form-check-label
{
    position: relative;
    white-space: nowrap;
    right: 10%;
    /*transform: translate(50px, 0px); */
}

label[for=remember]
{
    color: white;
}

.icon-user, .icon-key
{
    color: #47A0A6;
}

.rounded-20
{
    border-radius: 20px;
}

input[id=neptunCode], input[id=password]
{
    width: 200px;
    height: auto;
    background: transparent;
    border: 4px solid #47A0A6;
    -webkit-appearance: textfield;
    appearance: auto;
    left: 10%;
}